/* テーブル全体 */
table {
	table-layout: fixed;
}
/* 曜日 */
tr:nth-of-type(1) td {
	text-align: center;
	pointer-events: none;
	/* フォント */
	font-size: 0.75rem;
	border: 1px solid #ccc;
	border-bottom: none;
}

tr:nth-of-type(1) td:nth-of-type(1) {
	color: red;
}

tr:nth-of-type(1) td:nth-of-type(7) {
	color: blue;
}
/* 日付 */
th {
	padding: 0 4px !important;
	border: 1px solid #ccc;
	border-bottom: none;
	cursor: pointer;
}

td {
	cursor: pointer;
}

th:nth-of-type(1) {
	color: red;
}

th:nth-of-type(7) {
	color: blue;
}

th.today {
	background-color: #d1e7dd;
}

th.holiday {
	color: red;
}

th.disabled {
	color: #ccc;
}

th.disabled:nth-of-type(1) {
	color: #fdd;
}

th.disabled:nth-of-type(7) {
	color: #ddf;
}
/* 従業員の氏名を挿入する場所 */
tr:nth-of-type(n+2) td {
	padding: 0 4px !important;
	height: 18px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	/* フォント */
	font-size: 0.75rem;
	color: white;
}

tr:nth-of-type(5n+6) td {
	border-bottom: 1px solid #ccc;
}

td.today {
	background-color: #d1e7dd;
}