.go, .leave{
	padding: 100% 0 0 0;
	border: none;
}
.go:before {
	content: '出勤';
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.leave:before {
	content: '退勤';
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (min-width:992px){
	.go, .leave{
	padding: 50% 0 0 0;
	border: none;
}
}